
body {
    font-family: 'Arial', sans-serif;
    /* background-color: #1E1E1E; */
    background-color: #E3E5EA;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.Signin-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    /* background-color: #1E1E1E; */
    background-color: #E3E5EA;

}

.Signin-box{
    /* background-color: #1E1E1E; */
    background-color: #E3E5EA;

    padding: 10px;
    border-radius: 10px;
    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); */
    max-width: 800px;
    width: 100%;
    text-align: center;
}

.welcome-messaeg{
    margin-bottom: 30px;
    color: black;   
}

.error{
    color: red;
    /* margin-bottom: 20px; */
    text-align: center;
}








